{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "globals": {
    "document": true,
    "window": true,
    "Proxy": true,
    "MutationObserver": true
  },
  "extends": "eslint:recommended",
  "rules": {
  }
}